<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="getEditorData()">
        <div class="form-group">
          <label for="title">Topic or Theme Name</label>
          <input type="text" name="command.tname" class="form-control" [(ngModel)]="command.tname">
        </div>
        <div class="form-group">
          <label for="topic-details">Topic Details</label>
          <textarea rows="8" cols="5" name="command.editor1" class="ckeditor" id="editor1" [(ngModel)]="ckeditorContent"></textarea>
          <script>
            var data = CKEDITOR.instances.editor1.getData();
            console.log(data);
            var editor = CKEDITOR.replace('editor1');
            editor.on('change', function (evt) {
              console.log('Total bytes: ' + evt.editor.getData().length);
            });
          </script>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
      <script type="text/javascript">
        // var data = CKEDITOR.instances.editor1.getData();
        // console.log(data);
        CKEDITOR.replace('editor1');
        $("form").submit(function (e) {
          var messageLength = CKEDITOR.instances['editor1'].getData().replace(/<[^>]*>/gi, '').length;
          if (!messageLength) {
            alert('Please enter a message');
            e.preventDefault();
          }
          console.log(messageLength);
        });
      </script>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ command.tname }} {{' '}} {{ ckeditorContent }}
    </div>
  </div>
</div> -->

<!-- <ckeditor
    [(ngModel)]="ckeditorContent"
    [config]="{uiColor: '#99000'}"
    [readonly]="false"
    (change)="onChange($event)"
    (editorChange)="onEditorChange($event)"
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (contentDom)="onContentDom($event)"
    (fileUploadRequest)="onFileUploadRequest($event)"
    debounce="500">
  </ckeditor> -->

<!-- <ckeditor
  [(ngModel)]="ckeditorContent">
    <ckbutton [name]="'saveButton'"
      [command]="'saveCmd'"
      (click)="save($event)"
      [icon]="'save.png'"
      [label]="'Save Document'"
      [toolbar]="'clipboard,1'">
    </ckbutton>
</ckeditor>
{{ckeditorContent}} -->
<app-myplag></app-myplag>