<div class="container">
  <div class="row">
    <form (ngSubmit)="setEditorData()">
      <div class="col">
        <div class="form-group">
          <textarea class="ckeditor" name="editor" id="editor"></textarea>
        </div>
        <div class="form-group">
          <button class="btn primary-btn">Need more Research ! Save as Draft</button>
        </div>
      </div>
    </form>
  </div>
</div>